#div1 {
  border: 2px solid black;
  width: 300px;
  height: 100px;
  background-color: aquamarine;
  font-size: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 50 px;
  padding: 100px;
}
#div1 span {
  background: linear-gradient(45deg, red, green);
  background-clip: text;
  color:transparent;
}
#div2 {
  border: 5px dashed black;
  margin: 50px;
  font-size: 50px;
  padding: 100px;
  border-radius: 10%;
  height: 100px;
  width: 100px;
}
