#b{
    width: 100px;
    border: 2px solid black;
    background-color: red;
    border-radius: 5%;

    #a {
        display: inline;

    }
    #ab {
        display: none;
    }
}
#d1,#d2,#s1,#s2 {
    border: 2px solid black;
}
#mainDiv {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#subDiv {
    border: 2px solid black;
    height: 40px;
    width: 40px;
    background-color: beige;
}
#mainDiv2 {
     
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    justify-items: center;
    padding: 10%;

}
.div {
     
    border: 2px solid black;
    height: 40px; 
    width: 40px;
    background-color: beige;
    display: flex;
    justify-content: center;

}
#superDiv {
    border: 2px solid black;
    width: 900px;
    height: 300px;
    background-color: rgb(201, 243, 104);
    
}
