* {
  margin: 0px;
  padding: 0px;
}
#main {
  background-color:rgb(42, 42, 196);
  height: 100vh;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-end;
}
.form {
  border: 1px solid black;

  background-color:whitesmoke;
  height: fit-content;
  display: grid;
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 150px;
  width: 25%;
  gap: 10px;
  
}
input {
  border: none;
}
#abc {
  display: flex;
  justify-content: space-between;
}
.Check {
  display: flex;
  align-items: center;
  gap: 10px
}

p {
  align-items: center;
}
button {
  background-color: blue;
  color: beige;
  padding: 10px;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(215, 215, 228);
  color: rgb(0, 1, 6);
  
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1{
  color: blue;
}