@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");

h1 {
  background-color: darkgray;
   font-family: "Dancing Script", cursive;
  font-size: xx-large;
}
p {
  background: linear-gradient(70deg, red 0%, blue 35%, green, crimson, pink);
  font-weight: bold;
  font-family: "Edu NSW ACT Cursive", cursive;
}
h2{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    background:  linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);;
}
#abc{
    width: 80%;
    height: 300px;
    background-color:aquamarine;
    border: 8px dashed black;
    box-shadow: 10px 10px 40px 20px black;
}
