*{
    background-color: rgb(44, 209, 238);
    color: rgb(15, 56, 4);
    
}
div{
    background-color: chocolate;
    
}
span{
    color: rgb(20, 20, 45);
}
.abc{
    background-color: darkmagenta;
}
#a{
    background-color: black;
}