:root {
    --primary: blue ;
    --secondary: grey;
    --tertiary: darkgrey;
    --accent: pink;
    --error: red;

}
* {
    margin: 0px;
    padding: 0px;
}
.navBar {
    border: 2px solid black;
    background-color: var(--accent);
    color: black;
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;

}
#link {
    display: flex;
    gap: 20px;
}
button {
    background-color: red;
    position:fixed;
    bottom: 40px;
    right: 40px;
    font-size: x-large;
}
#d2 {
width: 600px;
height: 500px;
background-color: aqua;
}