h1 {
  width: 200px;
  border: 1px solid black;
  margin-left: 0px;
  text-align: center;
}
h1:hover {
  width: 400px;
  /* margin-left: 200px; */
  transition: width 5s;
}
#d1 {
  border: 2px solid black;
  width: 200px;
  height: 20px;
}
#d2 {
  width: 5px;
  background-color: red;

  height: 20px;
}
/* parent children relationship hover at parent , change in child */
#d1:hover {
  #d2 {
    width: 200px;
    background-color: green;
    transition: width 5s ease-in, background-color 5s ease-in-out;
  }
}

#outer {
  border: 2px solid black;
  width: 500px;
  height: 50px;
  #inner {
    height: 50px;
  }
}
#outer:hover {
  #inner {
    animation: abc 5s linear;
    
  }
}
@keyframes abc {
  0% {
    width: 0%;
    background-color: red;
  }
  50% {
    width: 50%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: rgb(0, 255, 81);
  }
}
