.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-blue{
    background-color: skyblue;
}
.bg-green{
    background-color: rgb(115, 225, 31);
}