#db {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 1px solid black;
  animation: move 5s linear infinite;
}
@keyframes move {
  0% {
    top: 0px;
    left: 0px;
    background-color: aquamarine;
    transform: rotatex(360);
    transition: transform 5s;
  }
  25% {
    top: 0px;
    left: 500px;
    background-color: blueviolet;
    transform: rotatex(360);
    transition: transform 5s;
  }
  50% {
    top: 500px;
    left: 500px;
    background-color: yellow;
    transform: rotatex(720degree);
    transition: transform 5s;
  }
  75% {
    top: 500px;
    left: 0px;
    background-color: cornflowerblue;
    transform: rotatex(1080);
    transition: transform 5s;
  }
  100% {
    top: 0px;
    left: 0px;
    background-color: darkseagreen;
    transform: rotatex(1440degree);
    transition: transform 5s;
  }
}
